version: '3.6'
services:
  api:
    image: registry.odds.team/internship/macinodds-api:${BUILD_NUMBER}
    container_name: 'macinodds-api'
    ports:
      - 1323:1323
    volumes:
      - /home/nc-user/images:/app/mac  
    env_file:
      - dev.env
networks:
  macinodds-web:
    external: true
  macinodds-db:
    external: true