version: '3.6'
services:
  api:
    image: registry.odds.team/internship/macinodds-api:${BUILD_NUMBER}
    container_name: 'macinodds-api'
    environment:
      API_PORT: :1323
      DB_BORROWINGS_COL: borrowings
      DB_DEVICES_COL: devices
      DB_HOST: mac.odds.team:27017
      DB_NAME: macOddsTeamDB
      DB_USERS_COL: users
      IMG_PATH: /app/mac/
    networks:
      - macinodds-web
      - macinodds-db
    ports:
      - 1323:1111
    volumes:
      - /home/nc-user/images:/app/mac
    
networks:
  macinodds-web:
    external: true
  macinodds-db:
    external: true